# Normal files/folders to ignore
database/connections/*
database/models/*
!database/models/system
database/sql/*
database/schemas/*

# Any IDE folders to ignore
nbproject

# System files to ignore
.DS_Store
