# Normal files/folders to ignore
database/connections/*
!database/connections/classmap-database-conf.php
database/models/*
!database/models/system
database/sql/*
!database/sql/system/.ignore
database/schemas/*
!database/schemas/.ignore

# Test output folders to ignore
tests/database/models/*
tests/database/connections/*
tests/database/sql/*
tests/database/schemas/*
tests/database/log/*
!test/database/log/.ignore

# Any IDE folders to ignore
nbproject

# System files to ignore
.DS_Store
